body{
    font-family: 'Raleway', sans-serif;
    font-weight:100;
}

h1{
    font-size: 3em;
    font-family: 'Berkshire Swash', cursive;
    color:  rgb(149, 224, 233);
}

body > div{
    display: flex;
    width: 50%;
}

.home-picture{
    display: flex;
    width: 50%;
    background-size: cover;
}

.portfolio-text{
    background-color:#333;
}

section{
    color: aliceblue;
    font-size: 1,5em;
}